/* container */

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-top: 128.67px;
}

/* header */
 header {
    display: flex;
    padding: 32px 80px;
    justify-content: space-between;
    align-items: center;
    background: #372D23;
    position: fixed;
    top: 0;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
 }

 .app-logo {
    width: 72px;
    height: 72px;
 }

 .app-header-nav-ul {
    display: flex;
    column-gap: 48px;
 }

 .app-header-nav-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #B89278;
 }

 .app-header-nav-link-active {
    color: #ED6C30;
 }

 .app-header-icon {
    color: #FCC21B;
    font-size: 40px;
 }

/* section1 */
.app-section1 {
    position: relative;
}

.app-section1-order {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-section1-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.app-section1-header {
    color: #FFF;
    text-shadow: 0px 6px 4px #372D23;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 32px;
}

.app-section1-button {
    padding: 12px 38px;
    border: 3px solid #FCC21B;
    box-shadow: 0px 4px 4px 0px #372D23;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    background-color: transparent;
}

/* section2 */


/* article */


/* footer */